@import url(./screen_overture.css);
@import url(./screen_editor.css);
@import url(./screen_reader.css);
@import url(./screen_player.css);
@import url(./screen_alert.css);

:root {
    --color-white: #ffffff;
    --color-gray-fns: #f1f2f7;
    --color-gray: #808080;
    --color-gray-double-beast: #666666;
    --color-gray-not-found: #404040;
    --color-black-89: #1c1c1c;
    --color-black-96: #0a0a0a;
    --color-black: #000000;
    --color-light-green: #85ffa2;
    --color-dark-green: #38804a;
    --color-light-red: #f99191;
    --color-dark-red: #9a3d3d;
    --color-light-orange: #e9ad71;
    --color-light-blue: #84b2e1;
    --color-light-violet: #ba9bb9;
    --color-purple-plum: #292939;
    --color-purple-blueberry: #47475d;
    --color-purple-jabuticaba: #5f5f80;

    --dim-max-screen: 31.25rem;/*500px*/
    --dim-min-screen: 20rem;/*320px*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    touch-action: none;
    border: none;
    outline: none;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

html {
    background-image: linear-gradient(var(--color-black-96), var(--color-black-89));;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    background: transparent;
    color: var(--color-black-96);
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: var(--dim-max-screen);
    min-width: var(--dim-min-screen);
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
}

.display-none {
    display: none;
}

.display-active {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: fit-content;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.invert-horizontal {
    display: inline-block;
    transform: scale(-1, 1);
}

.pointer-events-none {
    pointer-events: none;
}

header,
footer {
    width: 100%;
    font-size: 1rem;
    color: var(--color-white);
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

header {
    height: 4rem;
    position: absolute;
    background: transparent;
}

footer {
    height: 1.5rem;
    background: var(--color-black-89);
}

footer * {
    text-decoration: none;
    color: var(--color-white);
    font-size: 0.8rem;
    font-weight: 400;
}

main {
    width: 100%;
    top: 4rem;
    height: calc(100% - 5.4rem); /* 0.1rem passing behind footer because it was a line between main and footer. */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.screen-scroll::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.1rem;
    z-index: 100;
}

.screen-scroll::-webkit-scrollbar-track {
    background-color: transparent;
}

.screen-scroll::-webkit-scrollbar-thumb {
    border-radius: 0.15rem;
    background-color: var(--color-gray);
}

figcaption {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.6rem;
    color: var(--color-gray-fns);
    text-shadow: 0 0.2rem 0.1rem var(--color-gray);
    transform: perspective(100px) rotateX(20deg);
    cursor: pointer;
}

.button {
    box-shadow: 0 0.2rem 0.1rem var(--color-gray-double-beast);
    transition: transform 0.1s ease;
    font-weight: 600;
    border-radius: 0.5rem;
}

.button:active {
    transform: translateY(0.1rem);
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.75; }
    100% { opacity: 1; }
}

.blinking {
    animation: blink 1.5s infinite;
}