.screen-overture {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: var(--color-black-89);
    height: 100%;
    width: 100%;
    position: relative;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding-top: 2rem;
}

.screen-overture-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 85%;
    position: relative;
    row-gap: 0.5rem;
    background: transparent;
    resize: none;
    overflow: hidden;
    overflow-y: scroll;
}

.overture-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: var(--color-white);
    height: fit-content;
    width: 100%;
    position: relative;
    padding-right: 0.5rem;
    resize: none;
    row-gap: 1rem;
    padding-bottom: 2rem;
}

.overture-button {
    position: relative;
    height: 3rem;
    width: 100%;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-black-89);
}

.file-input-group {
    position: relative;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 3%;
}

.file-input-button {
    background: var(--color-light-orange);
    flex-grow: 1;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.file-input-button > span {
    display: inline-block;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-more-button {
    background-color: var(--color-light-orange);
    width: 17.6%
}

.file-remove-button {
    background: var(--color-light-red);
    width: 17.6%
}

.overture-player-button {
    background: var(--color-light-green);
}

.overture-editor-button {
    background: var(--color-light-blue);
}