.screen-reader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: var(--color-black-89);
    height: 100%;
    width: 100%;
    position: relative;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.screen-reader-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    position: relative;
}

.menu-reader-file-name {
    color: var(--color-black-96);
    background-color: var(--color-white);
    border-radius: 0.2rem;
    font-size: 1rem;
    padding-left: 0.5rem;
    line-height: 1.6rem;

    font-weight: 500;
    display: inline-block;
    text-align: left;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.page-file {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: var(--color-white);
    height: 100%;
    width: 85%;
    position: relative;
    resize: none;
    overflow-x: hidden;
    overflow-y: scroll;
}

.page-file-button-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: fit-content;
    width: 100%;
}

.page-file-button {
    cursor: pointer;
    width: 100%;
    word-wrap: break-word;
}

.page-file-button:hover {
    background: #FFFFFF22;
}

.delete-object {
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    height: 1.6rem;
    width: 2rem;
    border-radius: 0.3rem;
    color: var(--color-white);
    font-size: 1.2rem;
    font-weight: 600;
    background: var(--color-light-red);
    order: 100;
}